
<h1> Search Results</h1>

<% if @listings.empty? and !params[:query].empty? %>
    <div class="response">Your search returned no results.</div>
<% else %>
    <%= render 'articles/card', articles: @listings %>  
<% end %>
