
<h1> Search Results</h1>

<% if @listings.nil? and !params[:query].nil? %>
    <div class="response">Your search returned no results.</div>
<% else %>
    <%= render 'articles/card', articles: @listings %>  
<% end %>
