<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
      NewsCentral 
    </a>
  </nav>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/articles">Articles <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/about/page">About</a>
      </li>
    </ul>
    <%= form_tag(search_path, method:"get") do %>
      <%= search_field_tag :query, params[:query] %>
      <input type= "submit">
    <% end %>
      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      <% end %>
    </form>
  </div>
</nav>

