<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Where Readers and Writers connect</h1>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Write for us</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Start reading</a>
        </div>

        <div class="col-md-6">
        </div>
    </div>
</div>