<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Where Readers and Writers Connect</h1>
            <hr class="my-4">
            <%= link_to "Write for us", new_article_path, class: "btn btn-primary btn-lg" %>
            <a class="btn btn-primary btn-lg" href="#" role="button">Start reading</a>
        </div>

        <div class="col-md-6">
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h2 class="display-4">Featured</h2>
            <hr class="my-4">
        </div>

        <div class="col-md-6">
            <h2 class="display-4">Categories</h2>
            <hr class="my-4">
            <a class="btn btn-primary btn-md" href="#" role="button">Technology</a>
            <a class="btn btn-primary btn-md" href="#" role="button">Politics</a>
            <a class="btn btn-primary btn-md" href="#" role="button">Arts</a>
            <a class="btn btn-primary btn-md" href="#" role="button">Culture</a>
            <a class="btn btn-primary btn-md" href="#" role="button">Opinion</a>
            <a class="btn btn-primary btn-md" href="#" role="button">Sports</a>
            <a class="btn btn-primary btn-md" href="#" role="button">Business</a>
            <a class="btn btn-primary btn-md" href="#" role="button">Health</a>
            <a class="btn btn-primary btn-md" href="#" role="button">News</a>
            <a class="btn btn-primary btn-md" href="#" role="button">Science</a>
            <a class="btn btn-primary btn-md" href="#" role="button">Food & Drink</a>
        </div>
    </div>
</div>