<%# About page with logo for users to learn more %>
<%= image_tag 'logo2', class: "centre" %>
<br>
<br>
<h1>What is News Central?</h1>
<p>News Central is a site where you can browse articles from thousands of journalists and writers.</p>
<p>The site aims to let writers and journalists an avenue to sell their work, and for users to be able to browse the work of many journalists in once place and pay for only the articles they want to read.</p>
