/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
 
// Styling to ensure thumbnail is displayed as square when displayed in 
// index to ensure image size consistency throughout site
.thumbnail {
    display: block;
    height: 9rem;
    width: 9rem;
}

// Styling to ensure thumbnail is displayed as square to fit with card design
.card-img-top {
    display: block;
    height: 18rem;
    width: 18rem;
}